h1 {
    color: red;
}

ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    padding: 10px 0;
    background-color: rgb(159, 177, 211);
}

.btn-group.hidden {
    display: none;
}

.avatar-img {
    width: 100px;
    height: 100px;
}

.post {
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.post:last-child {
    margin-bottom: 0;
}