h1 {
    color: red;
}

ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    padding: 10px 0;
    /* background-color: rgb(159, 177, 211); */
}

.post__buttons.hidden {
    display: none;
}

.avatar-img {
    width: 50px;
    height: 50px;
}

.post {
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.post:last-child {
    margin-bottom: 0;
}

.post__name {
    font-size: 1.4rem;
}

.post__author {
    font-size: 0.9rem;
    font-weight: 600;
}